*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#projects {
    height: auto;
    max-width:auto;
    margin: 5rem 1rem;
    display: flex;
    justify-content:center;
}

.projectsBox {
    background-color: #57CC99;
    width: 100%;
    /* box-shadow: 10px 10px 2px 1px #67A58A; */
    /* h-offset v-offset blur spread colour */
    box-shadow: 0px 8px 8px 2px #67A58A;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
}

.projectsTitle {
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem 1rem;
}

.featuredProjectContainer {
    position: relative;
    margin-bottom: 3rem;
}

.featTwoBg {
    transform: scaleX(-1);
}

.featuredContainer {
    margin-bottom: 3rem;
}

.featuredTextContainer {
    text-align: left;
    width: 60%;
    z-index:100;
    position: absolute;
}

.featOne {
    transform: translateX(4rem) translateY(3.5rem);
}
.featTwo {
    transform: translateX(5.5rem) translateY(4rem);
}

.featuredTitle {
    font-weight: bold;
    color: #fff;
    font-style: italic;
    padding-bottom: 0.8rem;
}

.featuredProjectDesc {
    font-size: 0.75rem;
}

.projectTitle{
    font-size: 1.75rem;
    padding-bottom: 0.7rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.projectDesc{
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 400;
    color:#000;
    padding-bottom: 1rem;
}

.projectLink {
    color: #000;
    font-weight: 700;
    font-size:0.8rem;
}


@media (min-width: 768px) {
    #projects {
        margin: 3rem 2.2rem;
    }
    .projects-title{
        text-align: left;
        padding-left: 2rem;
    }
    .project-block, .horizontal-block {
        padding: 2rem;
    }
    .horizontal-block {
        padding-bottom: 8rem;
    }
}

@media (min-width: 1024px) {
    .projects-title{
        padding-left: 4rem;
    }
    .project-desc{
        font-size: 1.25rem;
    }
}

@media (min-width: 1440px) {
    #projects {
        margin: 5rem;
    }
    .projects-columns {
        display: flex;
        flex-direction: row;
    }
    .project-desc{
        font-size: 1.25rem;
    }

}

