*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#projects {
    height: auto;
    max-width:auto;
    margin: 5rem 1rem;
    display: flex;
    justify-content:center;
}

.projectsBox {
    background-color: #57CC99;
    width: 100%;
    /* box-shadow: 10px 10px 2px 1px #67A58A; */
    /* h-offset v-offset blur spread colour */
    box-shadow: 0px 8px 8px 2px #67A58A;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
}

.projectsTitle {
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem 1rem;
}

/* ================================ FEATURED SECTION ================================ */

.featuredProjectContainer {
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
}

.featureBg {
    /* transform: scale(1.25); */
    width: 125%;
    overflow: hidden;
}

.featOneBg {
    transform: translateX(-50px);
}

.featTwoBg {
    transform: scaleX(-1);
    transform: translateX(-50px);
}

.featuredContainer {
    margin-bottom: 3rem;
}

.featuredTextContainer {
    text-align: left;
    width: 60%;
    z-index:100;
    position: absolute;
}

.featOne, .featTwo {
    transform: translateX(4rem) translateY(3.5rem);
}

.featuredTitle {
    font-weight: bold;
    color: #fff;
    font-style: italic;
    padding-bottom: 0.8rem;
}

.featuredProjectDesc {
    font-size: 0.75rem;
}

.featCoverContainer {
    display: none;
    width: 295px;
    height: 295px;
    border-radius: 60px;
    position: absolute;
    object-fit: cover;
}

/* ================================ GENERAL PROJECT TEXT STYLING ================================ */

.projectTitle{
    font-size: 1.75rem;
    padding-bottom: 0.7rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.projectDesc{
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 400;
    color:#000;
    padding-bottom: 1rem;
}

.projectLink {
    color: #000;
    font-weight: 700;
    font-size:0.8rem;
}

/* ================================ SLIDER STYLING ================================ */

.outerProjectSliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsSliderContainer {
    /* margin: 0.5rem 0.25rem 5rem; */
    text-align: center;
    width: 80%;
}

.transitionText {
    color: #fff;
    text-transform: lowercase;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
}

.slideProjects {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.projectCard {
    width: 275px;
    height: 500px;
    border-radius: 1rem;
    /* background-color: #4CB286; */
    /* background: linear-gradient(to bottom, #4CB286, #3f8f6c); */
    background-color: #4CB286;
    transition: background-color 0.75s ease-out;
    text-align: left;
    opacity: 1;
}


.projectCard:hover {
    background-color: #429772;
    cursor: pointer;
}

.projectCard:link {
    text-decoration: none;
}

.cardProjectHeader {
    /* width: 90%; */
    display: flex;
}

.cardProjectTitle {
    padding: 27px;
    /* width: 50%; */
    font-size: 1rem;
    width: 75%;
}


.projectCover {
    height: 66px;
    width: 66px;
    border-radius: 6px;
    /* background-color: #000; */
    transform: translateX(-27px) translateY(27px);
    object-fit: cover;
}

.cardProjectDesc {
    position: absolute;
    width: 275px;
    padding: 0px 27px;
    top: 155px;
}

/* ================================ RESPONSIVENESS ================================ */

/* @media (min-width: 500px) {
    .featuredProjectContainer {
        width: 60%;
        overflow: visible;
    }

    .backgroundBlob {
        width: 100%;
    }
}
*/


@media (min-width: 768px) {
    #projects {
        margin: 3rem 2.2rem;
    }
    .projects-title{
        text-align: left;
        padding-left: 2rem;
    }
    .featuredProjectContainer {
        margin-bottom: 0;
    }
    .featureBg {
        width: 90%;
    }
    .featOneBg {
        transform: scale(0.8) translateX(-25%);
    }
    .featTwoBg {
        transform: scaleX(-1) scale(0.8) translateX(-40%);
    }

    /* text positioning */
    .featuredTextContainer {
        width: 35%;
    }
    .featOne {
        transform: translateX(4rem) translateY(8rem);
    }
    .featTwo {
        transform: translateX(25rem) translateY(10rem);
    }

    /* cover pic positioning */
    .featCoverContainer {
        display: block;
    }
    .featCoverOne {
        top: 8rem;
        right: 4rem;
    }
    .featCoverTwo {
        top: 8rem;
        left: 4rem;
    }
} 


@media (min-width: 1024px) {
    .projects-title{
        padding-left: 4rem;
    }
    .project-desc{
        font-size: 1.25rem;
    }

    .featuredProjectContainer {
        height: 600px;
    }
    .featOneBg {
        transform: scale(0.6) translateX(-20%) translateY(-20%);
    }
    .featTwoBg {
        transform: scaleX(-1) scale(0.6) translateX(-35%) translateY(-20%);
    }

    /* text positioning */
    .featuredTextContainer {
        width: 30%;
    }
    .featOne {
        transform: translateX(10rem) translateY(10rem);
    }
    .featTwo {
        transform: translateX(30rem) translateY(10rem);
    }

    /* cover pic positioning */
    .featCoverOne {
        top: 8rem;
        right: 7rem;
    }
    .featCoverTwo {
        top: 8rem;
        left: 7rem;
    }
}

@media (min-width: 1153px) {
    .featOneBg {
        transform: scale(0.5) translateX(-30%) translateY(-35%);
    }
    .featTwoBg {
        transform: scaleX(-1) scale(0.5) translateX(-35%) translateY(-35%);
    }
}

@media (min-width: 1440px) {
    #projects {
        margin: 5rem;
    }
    .project-desc{
        font-size: 1.25rem;
    }
    .featuredProjectContainer {
        height: 800px;
    }
    .featOneBg {
        transform: scale(0.6) translateX(-5%) translateY(-20%);
    }
    .featTwoBg {
        transform: scaleX(-1) scale(0.6) translateX(-25%) translateY(-20%);
    }

    /* text positioning */
    .featuredTextContainer {
        width: 30%;
    }
    .featOne {
        transform: translateX(20rem) translateY(15rem);
    }
    .featTwo {
        transform: translateX(37rem) translateY(15rem);
    }

    /* cover pic positioning */
    .featCoverOne {
        top: 12rem;
        right: 13rem;
    }
    .featCoverTwo {
        top: 12rem;
        left: 13rem;
    }
}

