
#interests{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

p {
    padding-bottom: 2rem;
}

.clothes-container, .girl-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.clothes, .girl {
    width: 80%;
    border-radius: 5%;
}
.girl-container {
    padding-bottom: 5rem;
}

.interests-container{
    background-color: #38A3A5;
    box-shadow: 10px 10px 2px 1px #216D6F;
    border-radius: 125px;
}

.interest-block {
    padding: 1rem;
}

.row1, .row2 {
    display: flex;
    flex-direction: column;
}

.interests-title{
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem 1rem;
}

.interest-name{
    font-size: 2rem;
    font-weight: bold;
    color: #BAFBFC;
    padding-bottom: 1rem;
}

.interest-desc{
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 200;
    color: #BAFBFC;    
}

@media (min-width: 780px) {
    .interests-container {
        margin: 3rem;
    }
}

@media (min-width: 1024px) {
    .row1, .row2 {
        display: flex;
        flex-direction: row;
    }
    .interest-block {
        width: 75%;
        padding: 2rem;
    }
    .interests-title {
        text-align: right;
        padding-right: 4rem;
    }
    .interest-name{
        padding-right: 4rem;
    }
    .interest-desc{
        font-size: 1.25rem;
    }
    .row2 {
        padding-bottom: 4rem;
    }
    .girl-container {
        padding-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .interests-container {
        margin: 5rem;
    }
    .interests-title {
        padding-right: 6rem;
    }
    .project-desc{
        font-size: 1.25rem;
    }
    .clothes, .girl {
        width: 70%;
    }

}
