.skillsTagContainer {
    width: 135px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    margin: 0.25rem 0.5rem;
    display: inline-block;
}

.bulletCircle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #75ba93;
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
}

.checkmark {
    filter: invert(100%);
    padding-top: 2px;
    padding-left: 3px;
}

.textContainer {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 5px 0px 0px 24%;;
}

.skillTitle {
    font-size: 0.75rem;
    font-weight: 600;
    color: #75ba93;
}


