#resume{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.resume-container{
    background-color: #C7F9CC;
    /* box-shadow: 10px 10px 2px 1px #82C391; */
    box-shadow: 0px 8px 8px 2px #82C391;
    border-radius: 125px;
    padding: 1rem;
}

.resume-title{
    color: #669772;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
}

.resume-contents{
    text-align: center;
    justify-content: center;
    position: relative;
}

.btn-image{
    width: 50%;
    height: auto;
    padding: 2%;
    padding-top: none;
    border-radius: 5px;
    transform: scale(0.8);
}

@media (min-width: 520px) {
    .resume-container {
        width: 80%;
    }
    .btn-image{
        width: 30%;
    }
}

