#contact{
    padding: 5rem 0;
    margin: 5% 0.8rem auto;
}

.contact-box{
    background-color:#22577A;
    /* box-shadow: 10px 10px 2px 1px #193B51; */
    box-shadow: 0px 8px 8px 2px #193B51;
    border-radius: 75px;
}

.contact-title{
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    padding-top: 2rem;
}

.menu-bar{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem;
}

.icons{
    padding: 1rem .1rem;
}

.img {
    width: 75%;
}

.icons img:hover{
    background-color: #193B51;
    border-radius: 6%;
}

@media (min-width: 768px) {
    #contact{
        /* padding: 5rem 3rem; */
        margin: 3rem 2.2rem;
    }
}

@media (min-width: 1024px) {
    #contact{
        padding: 5rem;
    }
}

