
#intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem;
}

.profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about-me-title{
    color: #29483A;
    padding: 1.5rem 0;
    font-weight: bold;
    font-size: 3.5rem;
}

.about-me-content{
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2em;
    color: #a4cea8;
}

@media (min-width: 520px) {
    #intro {
        flex-direction: row;
    }
    .intro-left-container {
        padding-right: 2rem;
        padding-top: 1.5rem;
    }
    .profile-pic{
        top: 50%;
        width: 40vw;
        height: auto;
        object-fit: cover;
    }
    .about-me-title{
        font-size: 3rem;
    }
    .about-me-content{
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    #intro {
        padding: 2rem 3rem;
    }
    .profile-pic{
        width: 30vw;
    }
}

@media (min-width: 1440px) {
    #intro {
        padding: 2rem 4rem;
    }
    .profile-pic{
        width: 25vw;
        padding-right: 2rem;
    }
    .about-me-title{
        font-size: 3.5rem;
    }
    .about-me-content{
        font-size: 1.5rem;
    }
}



